*{
    margin: 0;
    padding: 0;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

button{
    margin: auto;
    margin-top: 0rem;
    font-size: 1rem;
    padding: 10px;
    background-color:black;
    color:white;
    border-radius: 10px;
    display: inline-block

}

#main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.choices{
    height: 250px;
    width: 250px;
    border: 3px solid black;
    font-size: 1.5rem;
    border-radius: 15%;;
    justify-content: center;
    align-items: center;
}

.choices:hover{
    opacity: 0.6;
    cursor: pointer;
    border-color:rgb(238, 162, 22);
}

img{
    height: 180px;
    width: 180px;
}

#Score{
    border: 2px solid black;
    height: 150px;
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    border: none;
    margin-top: 10px;
}

.board{
    height:150px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
    background-color:rgb(238, 162, 22);
    color: black;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#Msg{
    margin: auto;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 10px;
    background-color:black;
    color:white;
    border-radius: 10px;
    display: inline-block
}